@import 'variablen';
@import 'bootstrap';

body,
html {
    background-color: $color-white;
    font-family: 'Tahoma';
    font-size: $base-font-size;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

* {
    box-sizing: border-box;
}